*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
height: 300vh;
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  box-shadow: 0 0 3px 0;
  background-color: #2f4f4f;
}

nav img{
  height: 2em;
}

nav ul {
  display: none;
}